In [1]:
import pandas as pd
import numpy as np

In [2]:
returns = pd.read_csv("9_Country2_Monthly.csv")
returns

,Date,Canada,Japan,France,Germany,Italy,Switzerland,UK,US,World
0,19970101,0.041823,-0.115337,0.015372,-0.011291,0.098721,0.023110,-0.037847,0.060988,0.004629
1,19970201,-0.015197,0.016802,-0.001972,0.034343,-0.113140,0.005739,0.022684,-0.000354,0.004081
2,19970301,-0.057476,-0.039476,0.023761,0.066419,0.017556,0.051339,0.001961,-0.052184,-0.027210
3,19970401,0.016137,0.029732,-0.047767,-0.042954,0.006721,0.017518,0.009839,0.058376,0.025235
4,19970501,0.076276,0.103864,-0.015380,0.035338,-0.018578,0.067907,0.037139,0.049228,0.054291
...,...,...,...,...,...,...,...,...,...,...
263,20181201,-0.092190,-0.074193,-0.053262,-0.063603,-0.040388,-0.060256,-0.045103,-0.097582,-0.083134
264,20190101,0.122280,0.054924,0.052171,0.058030,0.075393,0.055705,0.063005,0.074805,0.070751
265,20190201,0.020279,-0.006703,0.035389,0.010729,0.028262,0.036010,0.019979,0.025173,0.022274
266,20190301,-0.015456,-0.009421,-0.003104,-0.022676,0.014415,0.009195,-0.000618,0.010968,0.004498
267,20190401,0.022229,0.007804,0.036416,0.058993,0.010137,0.000763,0.012106,0.032927,0.027653

In [3]:
returns_scaled = returns[["Date", "UK", "US"]].copy()
returns_scaled[["UK", "US"]] *= 100
returns_scaled[["UK", "US"]] = returns_scaled[["UK", "US"]].round(2)
returns_scaled

         Date    UK    US
0    19970101 -3.78  6.10
1    19970201  2.27 -0.04
2    19970301  0.20 -5.22
3    19970401  0.98  5.84
4    19970501  3.71  4.92
..        ...   ...   ...
263  20181201 -4.51 -9.76
264  20190101  6.30  7.48
265  20190201  2.00  2.52
266  20190301 -0.06  1.10
267  20190401  1.21  3.29

[268 rows x 3 columns]

In [4]:
returns_scaled.to_csv("9_Country2_Monthly_scaled_UK_US.csv", index=False)