In [1]:
import pandas as pd
import numpy as np

Mkt & HML

In [2]:
returns = pd.read_csv("3_MKT2_Monthly.csv")
returns

         Date  Mkt-RF     SMB     HML
0    19970101  0.0498 -0.0193 -0.0143
1    19970201 -0.0049 -0.0329  0.0570
2    19970301 -0.0502 -0.0044  0.0343
3    19970401  0.0404 -0.0574  0.0009
4    19970501  0.0674  0.0516 -0.0408
..        ...     ...     ...     ...
263  20181201 -0.0955 -0.0248 -0.0189
264  20190101  0.0841  0.0289 -0.0046
265  20190201  0.0340  0.0212 -0.0271
266  20190301  0.0110 -0.0305 -0.0419
267  20190401  0.0396 -0.0175  0.0202

[268 rows x 4 columns]

In [3]:
returns_scaled = returns[["Date", "SMB", "HML"]].copy()
returns_scaled[["SMB", "HML"]] *= 100
returns_scaled[["SMB", "HML"]] = returns_scaled[["SMB", "HML"]].round(2)
returns_scaled

         Date   SMB   HML
0    19970101 -1.93 -1.43
1    19970201 -3.29  5.70
2    19970301 -0.44  3.43
3    19970401 -5.74  0.09
4    19970501  5.16 -4.08
..        ...   ...   ...
263  20181201 -2.48 -1.89
264  20190101  2.89 -0.46
265  20190201  2.12 -2.71
266  20190301 -3.05 -4.19
267  20190401 -1.75  2.02

[268 rows x 3 columns]

In [4]:
returns_scaled.to_csv("3_MKT2_Monthly_scaled_hml_smb.csv", index=False)